.bordaLaranja{
	border-color: #EE7621;
}

input[type="checkbox"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

label.obrigatorio::before {
	content: "* ";
	color: red;
}

output {
    display: block;
    padding-bottom: 10px;
    padding-top: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

.botao {
	background: #EE7621 !important;
}

.table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning,
	.table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th,
	.table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td,
	.table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning
	{
	background-color: #ECF0F1 !important;
}

th>a {
	color: dimgrey !important;
}

th {
	text-align: center !important;
	background-color: #ECF0F1 !important;
}

.corpo {
	color: dimgrey !important;
	width: 100%;
}

.form-group {
	margin-bottom: 15px;
	margin-right: 20px;
	float: left;
}

.row {
	padding-right: 15px;
	padding-left: 15px;
}

legend {
	color: dimgrey !important;
	font-size: 17px;
	box-shadow: 0px 2px dimgrey;
}

.panel-default>.panel-heading {
	color: dimgrey !important;
	font-size: 20px;
}

.icon-success {
	color: green;
}

.icon-remove {
	color: red;
}

.icon-status {
	color: dimgrey !important;
}

textarea {
	resize: none
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: dimgrey !important;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 3;
	color: #fff !important;
	cursor: default;
	background-color: dimgrey !important;
	border-color: dimgrey;
}

.div-button {
	padding-left: 44px !important;
	padding-right: 44px !important;
	padding-top: 3px !important;
	height: 50px !important;
}

.table-responsive {
    min-height: .01%;
    overflow-x: hidden; 
}